@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background: url(./assets/clouds.png);
    /* background-position: center; */
    background-attachment: fixed;
    /* background-clip: border-box; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: skyblue;
    /* background-origin: content-box; */
}

#mob-nav{
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s ease-in-out; */
    animation: animate  alternate 0.5s ease-in-out;
}

#menu-icon{
    animation: easy  alternate 0.2s ease-in-out;

}

#close-nav{
    animation: easy  alternate 0.2s ease-in-out;
}

@keyframes animate {
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 100;
        width: full;
    }
    
}

@keyframes easy {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
    
}